service cloud.firestore {
  match /databases/{database}/documents {
    match /songs/{id} {
      allow get;
      allow list, create: if request.auth.uid != null;
      allow delete, update: if request.auth.uid != null && request.auth.uid == resource.data.userId;
    }
  }
}
