service firebase.storage {
  match /b/{bucket}/o {
    match /songs/{allPaths=**} {
      allow write: if request.auth.uid != null;
      allow read, get;
    }
  }
}
